* {
    margin: 0px;
    font-family: 'Alkatra', cursive;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Lily Script One', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;

}

.mary {
    font-size: 60px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
}

nav span {
    color: #FD6E0A;
}

nav>h3 {
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800px;
    line-height: normal;
}

.nav-menu {
    color: black;
    font-size: 20px;
    line-height: normal;
}

.btn-primary {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 15px;
}

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-position: bottom right, left;
    background-repeat: no-repeat;
    background-size: 800px, 120px 650px;



}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-pic {
    width: 500px;
    height: 600px;
}

.banner-greetings {
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-text {
    color: #757575;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.btn-secondery {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background: white;
    border: none;
    cursor: pointer;
    color: #FD6E0A;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    margin-left: 10px;
}

.banner-content {
    max-width: 600px;
}

.sec-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.about-text {
    color: #757575;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    max-width: 700px;
    margin-left: 160px;


}

.about {
    width: 1000px;
    height: 200px;
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
    margin-top: 100px;
    margin-left: 200px;
    margin-bottom: 100px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.about-info {
    text-align: center;
}

.info-title {
    color: #757575;
}

.skill-container {

    max-width: 850px;
    text-align: center;
    margin: 0 auto;
}

.skill-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.skill-details {
    color: #757575;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 100px;

}

.skills {
    display: flex;
    width: 1200px;
    height: 200px;
    justify-content: space-between;
    margin: 0 auto;


}

.skills-info {
    width: 220px;
    height: 300px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.20);
    padding: 20px;
    text-align: center;
}

.skill-img {
    margin-top: 15px;
    margin-bottom: 15px;
}

.skill-info-title {
    margin-bottom: 10px;
}

.summary-container {
    display: flex;
    justify-content: space-around;

}

.summary-section {}

.summary-container1 {
    width: 400px;
}

.summary-container2 {
    width: 400px;
}

.title-summary {
    margin-top: 250px;
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.summary-info {
    margin: 30px;
}

.summary-caption {
    margin-left: 30px;
    margin-top: 70px;

    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.study {
    margin-bottom: 20px;
    color: #474747;
    font-size: 18px;
    font-weight: 700px;
}

.institute {
    color: #757575;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}

.study-info {
    width: 511px;
    color: #757575;
    font-size: 13px;
    font-weight: 400;
}

hr {
    width: 500px;
    height: 1px;
    background: #D1D1D1;
    margin-left: 30px;
}

#download-btn {
    margin-left: 800px;
    margin-right: 700px;
    margin-top: 30px;
    border-radius: 0px;
}

#icon {
    color: #FD6E0A;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    height: 600px;
    background: #FFF8F3;
    margin-top: 80px;


}

footer h3 {
    color: var(--dark-01, #181818);
    font-size: 35px;
    font-weight: 700;
}

footer p {
    display: flex;
    width: 562px;
    flex-direction: column;
    margin-top: 20px;

}

footer i {
    margin: 20px 7px;
}

.connect {
    margin-top: 100px;
}

.message {
    margin-top: 100px;
}

.input-name {
    width: 350px;
    height: 50px;
    border-radius: 5px;
    background: #FFF;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-msg {
    width: 461px;
    height: 180px;
    border-radius: 5px;
    background: #FFF;
    border: none;
    margin-bottom: 10px;



}

.submit-btn {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: white;
    font-size: 15px;
    margin-top: 20px;
}

.message-title {
    color: var(--dark-01, #181818);
    font-size: 35px;
    font-weight: 700;
}

footer ::placeholder {
    padding-left: 15px;
    font-size: 16px;
    font-weight: 400;
}

#text-area {
    border: none;
    font-size: 16px;
    font-weight: 400;
    padding-top: 5px;
}