* {
    margin: 0px;
}

body {
    font-family: 'Alkatra', cursive;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Lily Script One', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
}

nav span {
    color: #FD6E0A;
}

nav>h3 {
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800px;
    line-height: normal;
}

.nav-menu {
    color: black;
    font-size: 20px;
    line-height: normal;
}

.btn-primary {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 15px;
}

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-position: bottom right, left;
    background-repeat: no-repeat;
    background-size: 800px, 120px 650px;



}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-pic {
    width: 500px;
    height: 600px;
}

.banner-greetings {
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-text {
    color: #757575;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.btn-secondery {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background: white;
    border: none;
    cursor: pointer;
    color: #FD6E0A;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    margin-left: 10px;
}

.banner-content {
    max-width: 600px;
}

.sec-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.about-text {
    color: #757575;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    max-width: 700px;
    margin-left: 160px;


}

.about {
    width: 1000px;
    height: 200px;
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
    margin-top: 100px;
    margin-left: 230px;
    margin-bottom: 100px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.about-info {
    text-align: center;
}

.info-title {
    color: #757575;
}

.skill-container{

max-width: 850px;
text-align: center;
margin: 0 auto;
}
.skill-title{
color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;

}

.skill-details{
color:#757575;
text-align: center;
font-size: 15px;
font-weight: 400;
margin-bottom: 100px;

}
.skills{
    display: flex;
    width: 1200px;
    height: 200px;
    justify-content: space-between;
    margin: 0 auto;

   
}
.skills-info{
width: 220px;
height: 300px;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.20);
padding: 20px;
text-align: center;
}
.skill-img {
margin-top: 15px;
margin-bottom: 15px;
}
.skill-info-title{
    margin-bottom: 10px;
}
